.navbar
{
    background-color: #085E7D !important;
}

.bg-dark
{
    background-color: #085E7D !important;
}

.card-img-top

{
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

@media (max-width: 768px) {
    .card-img-top

{
    
    height: 32vh;
    
}
    
}

a
{
    text-decoration: none;
    color: black;
}

@media(max-width: 600px)
{
    .card-body-blog
    {
        text-align: center;
    }
}

